/*Fonts*/

@font-face {
  font-family: 'open sans';
  src: url('../fonts/web/opensans.woff2') format('woff2');
}

@font-face {
  font-family: 'open sans light';
  font-weight: normal;
  src: url('../fonts/web/opensanslight.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/web/gilroyextrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/web/gilroylight.woff2') format('woff2');
}


/*Control default*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'open sans light', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  width: 1200px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: .6;
}

a:focus {
  opacity: .3;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


/*Common elements*/

.button {
  font-family: 'open sans', 'Arial', sans-serif;
  line-height: 36px;
  letter-spacing: 0.15px;
  background-color: rgba(255, 0, 0, 0);
  border: none;
}

.detail-button {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  display: block;
  width: 220px;
  background-image: url(../img/addion-1.png);
  background-repeat: repeat-x;
  background-position: center;
  text-align: center;
}

.detail-button:hover {
  background-repeat: repeat;
  opacity: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.detail-button:active {
  color: rgba(0, 0, 0, .3);
}


/*header elements*/

.header {
  background-color: rgba(240, 197, 46, .5);
  min-width: 1160px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  margin-top: 40px;
}

.container {
  display: flex;
  margin-bottom: 35px;
}

.header-logo {
  margin-left: 60px;
  margin-top: -18px;
  margin-bottom: 10px;
}


.header-search-form {
  width: 440px;
  margin-left: 60px;
}

.button-login {
  width: 80px;
  margin-left: auto;
  margin-right: 200px;
}

.button-compare,
.button-cart {
  width: 100px;
}

.button-cart{
  margin-left: 20px;
  margin-right: 60px;
}

.header .button:hover {
  opacity: .6;
}

.header .button:focus {
  border: none;
}

.header .button:active {
  opacity: .3;
  border: none;
  outline: none;
}

.header-search-input {
  background-color: rgba(240, 197, 46, .0);
  border: none;
  font-family: 'open sans light', 'Arial', sans-serif;
  line-height: 30px;
  font-weight: 300;
}

.header-search-input:focus {
  outline: none;
  border-bottom: 1px solid #000000;
}

.header-search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .3);
}

.header-search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .6);
}

.header-search-input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
}

.header-search-button {
  opacity: 0;
}

.header-search-input:focus+.header-search-button {
  opacity: 1;
  color: #000000;
  border: 2px solid #000000;
}

.header-search-input:focus+.header-search-button:hover {
  background-color: #000000;
  color: #ffffff;
  opacity: 1;
}

.header-search-input:focus+.header-search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, .3);
  opacity: 1;
}


/*navigation elements*/

.catalog {
  background-color: rgb(247, 226, 150);
  margin-left: 60px;
  width: 250px;
}

.catalog-list {
  line-height: 36px;
  letter-spacing: .15px;
  /*display: none;*/
}

.catalog-button {
  color: rgb(0, 0, 0);
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}

.catalog-button::after {
  content: url(../img/plus.svg);
  width: 16px;
  height: 16px;
  opacity: .3;
  margin-left: 10px;
}


/*.catalog-button:focus+.catalog-list {
  display: inline-block;
}*/

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;
  margin: 0;
  margin-right: 60px;
  margin-left: auto;
  padding: 0;
  width: 500px;
}

.navigation-item {
  width: 140px;
}

.navigation-item:nth-child(2) {
  margin-left: 35px;
  margin-right: 108px;
}


/*Sliders*/

.slide-tagline {
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 47px;
  font-weight: 400;
  letter-spacing: .17px;
}

.slide-description {
  color: #464646;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.slide-ttx-value {
  font-family: 'Gilroy-Light', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: .36px;
}

.slide-ttx-property {
  color: #464646;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: .13px;
}


/*Services elements*/

.services-label:active {
  background-image: none;
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 118px;
  color: rgb(247, 225, 132);
}

.services-content-title {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 47px;
  font-weight: 400;
  letter-spacing: 0.21px;
}

.services-content-text {
  color: #464646;
  font-family: 'open sans light', 'Arial', sans-serif;
  letter-spacing: 0.15px;
}


/*Popular categories*/

.product-categories-name {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.card-image-wrapper {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, .5);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.product-categories-card-link:active .product-categories-card-image {
  opacity: .3;
}

.product-categories-card-link:nth-child(3) .card-image-wrapper {
  vertical-align: bottom;
}

.product-categories-card-link:hover {
  opacity: 1;
}

.product-categories-card-link:hover .card-image-wrapper {
  background-color: rgba(240, 197, 46, 1);
}


/*about & contacts*/

.about-title, .contacts-title {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 47px;
  font-weight: 400;
  letter-spacing: 0.21px;
}

.about-content, .contacts-content {
  color: #464646;
}

.about-item {
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}


/*footer*/

.footer {
  background-color: #464646;
}

.footer .button {
  color: #ffffff;
}

.footer-adress, .footer-phone {
  color: #ffffff;
}

.footer .button:hover {
  opacity: .6;
}

.footer .button:active {
  opacity: .3;
  border: none;
  outline: none;
}

.navigation-link {
  color: #ffffff;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}


/*Modal window. Write us.*/

.write-us-name, .write-us-email, .write-us-text {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.write-us-input, .write-us-text-input {
  border: none;
  background-color: #f8f8f8;
  opacity: .5;
}

.write-us-input:hover, .write-us-text-input:hover {
  opacity: .8;
  outline: none;
}

.write-us-input:focus, .write-us-text-input:focus {
  opacity: 1;
  background-color: #ffffff;
  outline: none;
  border: 3px solid rgb(240, 197, 46);
}

.write-us-input:invalid {
  background-color: rgb(237, 181, 181);
}

.write-us-submit {
  background-color: rgba(240, 197, 46, 0);
  border: none;
}


/*Style for cotalog element*/

.main-catalog-title {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 47px;
  font-weight: 400;
  letter-spacing: 0.17px;
}

.breadcrumbs-link {
  color: rgba(0, 0, 0, .3);
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.14px;
            </div>
            <a class="product-link" href="#">
              <span class="product-name">Любительская селфи-палка</span>
              <strong class="product-cost" title="Цена:">500 руб.</strong>
            </a>
            <ul class="product-to-container">
              <li class="product-item-button">
}

.breadcrumbs-item::after {
  content: url(../img/nav-arrow.png);
}

.filter-title, .ranking-title {
  color: #000000;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

fieldset {
  border: none;
}

legend {
  border-top: 2px solid black;
  width: 93px;
  height: 12px;
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.filter-label {
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
  font-family: 'open sans', 'Arial', sans-serif;
}

.ranking-link {
  opacity: 0.3;
  font-family: 'open sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.use-type {
  opacity: 1;
}

.product-name {
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.product-cost {
  font-family: 'Gilroy-Light', 'Arial', sans-serif;
  color: rgb(70, 70, 70);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.16px;
}

.product-card {
  position: relative;
}

.product-to-container {
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, .7);
  position: absolute;
  top: 0;
  visibility: hidden;
}

.product-card:hover .product-to-container {
  visibility: visible;
}

.paginator {
  font-family: 'Gilroy-ExtraBold', 'Arial Bold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.paginator-page-two,
.paginator-page-three {
  opacity: .3;
}

.product-to-range {
  opacity: 0.5;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.13px;
}

.product-to-range:hover {
  opacity: 1;
}

.product-to-range:active {
  opacity: .2;
}
